.colorFading {
    animation: colorFade 5s ease-in infinite;
}

@keyframes colorFade {
	0% {
        color: #8e99b7;// #eee;
    }
	33% {
        color: #FCB686;
    }
    66% {
		color: #fff;// #eee;
    }
    100% {
        color: #8e99b7;// #eee;
    }
}


.backgrounColorGradient {
    background: linear-gradient(0deg, #8e99b7, #fcb686, rgb(228, 228, 228), #8e99b7);
    background-size: 300% 300%;

    -webkit-animation: GradientShift 7s ease infinite;
    -moz-animation: GradientShift 7s ease infinite;
    animation: GradientShift 7s ease infinite;
}

@-webkit-keyframes GradientShift {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes GradientShift {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes GradientShift {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
