@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html {
    font-family: 'Raleway', sans-serif;
    font-family: "Times New Roman", Times, serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    min-width: 320px;
    width: 320px;
    width: auto !important;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}


// Personal:
.app {
    display: grid;
    grid-column-gap: 0;
    // grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
}


a {
    color: cadetblue;
}
