.footer {
    background-color:#2F2F2F;
    color: #fff;
    padding: 1 1 1 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    span {
        margin:  1rem;
    }

    a {
        color: #e5e5e5;
    }
}