$navbar-height: 50px;

.link {
    color: #999999;
}

.header {
    height: $navbar-height;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);
    width: 100vw;;
    display: flex;
    position: sticky;
    // background-color: rgb(47, 47, 47);
    top: 0;
    z-index: 100; /* this is optional and should be different for every project */
    
    .brand {
        width: 100%;
        background-color: rgb(47, 47, 47);
        display: flex;
        visibility: hidden; 

        // justify-content: center;
        // align-items: center;
        // margin: 0;

        a {
            background-color: rgb(47, 47, 47);
            display: flex;
            font-size: 2rem;
        }
    }

    .sections {
        background-color: rgb(47, 47, 47);
        margin-left: auto;

        a {
            cursor: pointer;
        }
    }
}



.title {
    padding-left: 1rem;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    // margin-left: auto;
    display: flex;
    line-height: $navbar-height;
    margin: 0;
    list-style-type: none;
}

.nav-item {
    color: #8e99b7;// #eee;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item > .active {
    border-bottom: 1px solid rgb(255, 45, 45);
}

.nav-item:hover {
    color: #666666;
}

.active-nav-item {
    color: #FCB686; //#ffd255;
}