.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 1rem;
    margin: 0;

    > .project::before {
        content: "";
        padding-bottom: 100%;
        background-color: #222222;
        display: block;
        width: 100%;
        grid-area: 1 / 1 / 2 / 2;  
    }

    > .project {
        display: grid;
        position: relative;
    }

    > .project > div{
        width: 100%;
        grid-area: 1 / 1 / 2 / 2;   
        margin: auto;
    }

}

.projectTag {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background-color: #777777;
    padding: 0 0 0 0.5rem;
    color: white;
    text-decoration: none;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
    pointer-events: none;
}

.project:hover {
    transform: scale(1.01);
}

.project:hover .overlay {
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    .project {
        margin: 1rem;
        width: 150px;
        height: 150px;
    }
}