$sectionHeight: 100vh;
$sectionWidth: 100vw;

// Basic styles for the section:
.parallax {
    height: 100%;
    background-color: darkgreen;
    width: $sectionWidth;
    overflow: hidden;
}

.section {
    min-height: $sectionHeight;
    height: 100%;
    background-color: inherit;
    width: $sectionWidth;
    display: flex;
    color: #fff;
}


// Colour options. Can be overrridden explicitly
.about {
    background-color: goldenrod;
}

.featured {
    background-color: rgb(37, 19, 85);
}

.projects {
    background-color: rgb(28, 142, 177);
}

.contact {
    background-color: rgb(236, 130, 59);
}


// Setting the style for sections with cutout to parallax:
.sectionBorder {
    visibility: visible;
    width: 100vw;
    height: 1rem;
}
.firstColumn {
    visibility: visible;
    width: 2rem;
    // height: 100%;
    flex: 0 0 2rem;
}
.midColumn {
    visibility: visible;
    width: 0.5rem;
    // height: 100%;
    flex: 0 0 0.5rem;
}
.transparentColumn {
    visibility: visible;
    width: 0.5rem;
    // height: 100%;
    flex: 0 0 0.5rem;
}
.contentColumn {
    display: flex;
    visibility: visible;
    box-sizing: border-box;
    width: 100%;
    // height: 100%;
    padding: 3rem;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 3rem;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.5);
}


// The two options: transparent or solid background:
.transparent {
    visibility: hidden;

    .sectionBorder, .firstColumn, .midColumn, .contentColumn{
        background-color: transparent;
    }

    .transparentColumn {
        background-color: inherit;
    }
}

.solid {
    visibility: hidden;

    .sectionBorder, .firstColumn, .midColumn, .contentColumn{
        background-color: inherit;
    }

    .transparentColumn {
        background-color:transparent;
    }
}



// Breakpoints for mobile devices:
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    html {
        font-size: 12px;
    }

    .firstColumn {
        width: 1rem;
        flex: 0 0 1rem;
    }
    
    .midColumn {
        width: 0.5rem;
        flex: 0 0 0.5rem;
    }
    
    .transparentColumn {
        width: 0.5rem;
        flex: 0 0 0.5rem;
        background-color: transparent;
    }
    
}

// @media only screen and (min-width: 1210px) {
//     /* For mobile phones: */
//     .parallax {
//         width: 50vw;
//     }
    
//     .section {
//         width: 50vw;
//     }
    
// }