$sectionHeight: 100vh;
$navbar-height: 60px;
$sectionBorderHeight: 50px; 
$sectionWidth: 100vw;
$backgroundColor: #004879;
$sectionColor: #3a3939; //
$textColor: white;


// Basic styles for the section:
.parallax {
    height: 100%;
    width: $sectionWidth;
    overflow: hidden;
}

.section {
    min-height: calc(#{$sectionHeight} - #{$navbar-height} - 2*#{$sectionBorderHeight});
    height: 100%;
}

.sectionWrapper {
    display: flex;
}

.sectionBackground {
    min-height: calc(#{$sectionHeight} - #{$navbar-height} - 2*#{$sectionBorderHeight});

    background-color: inherit;
    width: $sectionWidth;
    display: flex;
    color: $textColor;
    position: relative;
    z-index: 0;
}

.sectionContent {
    margin-left: -100%;
    color: $textColor;
    visibility: visible;
    padding: 3rem;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    z-index: 1;
}

.blendImgWrapper {
    background: $backgroundColor;
    display: inline-block;
}

.blendImgWrapper img {
    mix-blend-mode: exclusion;
    filter: grayscale(100%);
}


// Setting the style for sections with cutout to parallax:
.sectionBorder {
    visibility: visible;
    width: 100vw;
    height: $sectionBorderHeight;
}
.firstColumn {
    visibility: visible;
    width: 2rem;
    // height: 100%;
    flex: 0 0 2rem;
}
.midColumn {
    visibility: visible;
    width: 0.5rem;
    // height: 100%;
    flex: 0 0 0.5rem;
}
.transparentColumn {
    visibility: visible;
    width: 0.3rem;
    // height: 100%;
    flex: 0 0 0.3rem;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.5);
}
.contentColumn {
    display: flex;
    visibility: visible;
    box-sizing: border-box;
    width: 100%;
    // height: 100%;
    // padding: 3rem;
    justify-content: center;
    align-items: center;
}


.content {
    padding: 3rem;
    // box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.5);
}


// The two options: transparent or solid background:
.transparent .section  {
    .sectionBorder {
        background-color: transparent;
    }
    .sectionWrapper .sectionBackground {
        visibility: hidden;
        background-color: $sectionColor;

        .firstColumn, .midColumn, .contentColumn {
            background-color: transparent;
        }
        
        .transparentColumn {
            background-color: inherit;
        }
    }
}

.solid .section  {
    .sectionBorder {
        background-color: $sectionColor;
    }
    .sectionWrapper .sectionBackground {
        visibility: hidden;
        background-color: $sectionColor;

        .firstColumn, .midColumn, .contentColumn {
            background-color: inherit;
        }
        
        .transparentColumn {
            background-color: transparent;
        }
    }
}


// Breakpoints for mobile devices:
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    html {
        font-size: 12px;
    }

    .firstColumn {
        width: 1rem;
        flex: 0 0 1rem;
    }
    
    .midColumn {
        width: 0.5rem;
        flex: 0 0 0.5rem;
    }
    
    .transparentColumn {
        width: 0.5rem;
        flex: 0 0 0.5rem;
        background-color: transparent;
    }
    
}

@media only screen and (min-width: 1210px) {
    /* For mobile phones: */
    .parallax, .section {
        width: 50vw;
    }
}

@media only screen and (min-width: 1810px) {
    /* For mobile phones: */
    .parallax, .section {
        width: 33.3vw;
    }
}

@media only screen and (min-width: 2410px) {
    /* For mobile phones: */
    .parallax, .section {
        width: 25vw;
    }
}